<p>
    <canvas id="canvas" style="border: 3px #888888 solid;"></canvas>
</p>
<div style="float: left;">
    <p>
        Control mode: <span id="controlMode"></span>
    </p>
    <p>
        Panel location: <input id="panelLoc" style="width: 150px;" />
    </p>
    <p>
        Panel angles: <input id="panelAngles" style="width: 150px;" />
    </p>
    <p>
        Panel dimensions: <input id="panelDim" style="width: 150px;" />
    </p>
</div>
<div style="float: left; margin-left: 20px;">
    <p>
        Selected panel index: <span id="selectedPanelIndex"></span>
    </p>
    <p>
        Texture position: <input id="texturePos" style="width: 150px;" />
    </p>
    <p>
        Texture dimensions: <input id="textureDim" style="width: 150px;" />
    </p>
    <p>
        Texture noise: <input id="textureNoise" style="width: 80px;" />
    </p>
    <p>
        Draw both sides: <input id="drawBothSides" type="checkbox" />
    </p>
</div>
<br style="clear: both;" />
<p>
    Model data:
    <button onclick="readModelData();">Get</button>
    <button onclick="writeModelData();">Set</button>
    <button onclick="clearModelData();">Clear</button>
    <br />
    <textarea id="modelData" style="width:300px; height: 100px;"></textarea>
</p>
<p>
    Controls:
<p>
<ul>
    <li><strong>1 + 2</strong> = Change control mode</li>
    <li><strong>WASDEC</strong> = Move camera or panel</li>
    <li><strong>Shift + WASDEC</strong> = Move fast</li>
    <li><strong>Arrow keys and , + .</strong> = Rotate camera or panel</li>
    <li><strong>Enter</strong> = Create new panel</li>
    <li><strong>V</strong> = Duplicate selected panel</li>
    <li><strong>Backspace</strong> = Delete selected panel</li>
    <li><strong>[ + ]</strong> = Select panel</li>
</ul>
<script>

initializePage();

</script>


